body {
  font-family: sans-serif;
  width: 1250px;
  margin: 0 auto;
}
.main-header {
  width: 1200px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.main-navigation li {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  vertical-align: text-top;
  text-decoration: none;
}
.logo {
  display: inline-block;
  width: 138px;
  height: 70px;
  background-image: url("../img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
}
.main-navigation {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}
/*main-picture*/
.slide {
  margin-top: -30px;
  width: 1200px;
  height: 540px;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-clip: content-box;
  background-size: 1200px 540px;
  z-index: -1;
  position: relative;
  overflow: hidden;
}
.slide img {
  display: block;
  margin: 0 auto;
}
.slide img:nth-child(1) {
  margin-left: auto;
  margin-right: auto;
  padding-top: 78px;
  padding-bottom: 11px;
}
.slide img:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 52px;
}
.slide img:nth-child(3) {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 55px;
}
.slide img:nth-child(4) {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
.slide img:nth-child(5) {
  margin-left: auto;
  margin-right: auto;
}


.middle-sign1 {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 60px;
  text-align: center;
  text-transform: uppercase;
}
.middle-sign2 {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin-top: 35px;
}
.middle-real, .middle-bridge  {
  float: left;
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}
.middle-real-img, .middle-bridge-img {
  float: left;
}
.clearfix::after {
  content:"";
  display: table;
  clear: both;
}
.middle-middle, .middle-down {
  margin-top: 60px;
  float: left;
  width: 400px;
  text-align: center;

}
.middle-real-headline, .middle-bridge-headline {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: normal;
}
.middle-real-number, .middle-bridge-number {
  color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}
.middle-real-text, .middle-bridge-text {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.middle-middle-headline, .middle-down-headline {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}
.middle-middle-text, .middle-down-text {
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.down-headline {
  color: #000000;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}
.down {
  text-align: center;
}
.down-text {
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
}
.date-find {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  color: #ffffff;
  background-color: #766357;
  width: 570px;
  height: 69px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}
.search-form {
  display: block;
  width: 570px;
  margin: 0 auto;
}
footer {
  position: ;
}
.footer-contacts {
  color: #000000;
  font-size: 21px;
  line-height: auto;
  font-weight: bold;
  display: inline-block;
}
.footer-social {
  display: inline-block;
}
.footer-copyright {
  display: inline-block;
}
.container {
  text-align: center;
}
/*catalog*/
.hotel {
  width: 1200px;
  height: 218px;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: left;
  display: block;
}
.hotel-form {
  padding: 31px 73px;
}
.infra {
  display: inline-block;
  vertical-align: top;
}
.cost-type {
  display: inline-block;
  vertical-align: top;
  margin-left: 116px;
}
.cost-in-day {
  vertical-align: top;
  display: inline-block;
  margin-left:280px;
}
.h3 {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}
.infra li, .cost-type li {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.range {
  color: #ffffff;
  font-size: 16px;
  line-height: auto;
  font-weight: bold;
}
.findout li {
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
}
.hotel-item img {
  display: inline-block;
}
.findout-about {
  display: inline-block;
}
.findout p {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.findout > li {
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}
.hotel-item > h2 {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.hotel-item > p {
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.hotel-item .rating {
  color: #666667;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.social-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
  background: #81b3d2 no-repeat;
}
.social-btn-tw {
  background-position: center;
  background-image: url("../img/t.png");
}
.social-btn-fb {
  background-position: center;
  background-image: url("../img/f.png");
}
.social-btn-youtube {
  background-position: center;
  background-image: url("../img/youtube.png");
}
